{% extends "KolomietsBlogBundle:Default:template.html.twig" %}

{% block head %}{% trans %}New post{% endtrans %}{% endblock %}
{% block text %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.text) }}
        {{ form_widget(form.text, { 'attr': {'class': 'form-control', 'rows': '5'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.author) }}
        {{ form_widget(form.author, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.category) }}
        {{ form_widget(form.category, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.save, { 'attr': {'class': 'btn btn-default'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
