{% extends "KolomietsBlogBundle:Default:template.html.twig" %}

{% block head %}{% trans %}All posts{% endtrans %}{% endblock %}
{% block text %}
    {% set i = 0 %}
    {% for post in posts %}
        <div class="well">
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading"><strong>{{ post.name }}</strong></h4>
                    <p class="text-right"><small>{% trans %}Author{% endtrans %}: </small><em>{{ post.author }}</em></p>
                    <p>{{ post.text }}</p>
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i> {{ post.createdAt|date("F jS \\a\\t g:ia") }}</span></li>
                        <li>|</li>
                        <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                        <li>|</li>
                        <li>
                            {{ form_start(editForm[i]) }}
                            {{ form_widget(editForm[i].name, { 'attr': { 'value': post.id } }) }}
                            {{ form_widget(editForm[i]) }}
                            {{ form_end(editForm[i]) }}
                        </li>
                        <li>
                            {{ form_start(removeForm[i]) }}
                            {{ form_widget(removeForm[i].name, { 'attr': { 'value': post.id } }) }}
                            {{ form_widget(removeForm[i]) }}
                            {{ form_end(removeForm[i]) }}
                        </li>
                        <li>
                            {{ form_start(addCommentForm[i]) }}
                            {{ form_widget(addCommentForm[i].name, { 'attr': { 'value': post.id } }) }}
                            {{ form_widget(addCommentForm[i]) }}
                            {{ form_end(addCommentForm[i]) }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% for comment in comments %}
            {% if comment.post == post %}
                <div class="well" style="margin-left: 50px; background-color: #dbfff8">
                    <div class="media">
                        <div class="media-body">
                            <span class="text-left"><strong><em>{{ comment.author }}</em></strong></span>
                            <span class="text-right"><small><em>{{ comment.createdAt|date("F jS \\a\\t g:ia") }}</em></small></span>
                            <p>{{ comment.text }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% set i = i + 1 %}
    {% endfor %}
    <div class="navigation text-center">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}
{% block search %}
    <div class="well">
        <h4>{% trans %}Search{% endtrans %}</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
{% endblock %}
{% block category %}
    <div class="well">
        <h4>{% trans %}Categories{% endtrans %}</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    {% for category in categories %}
                        <li><a href="#">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
{% endblock %}
