{% extends "KolomietsBlogBundle:Default:template.html.twig" %}

{% block title %}All posts{% endblock %}
{% block head %}Posts{% endblock %}
{% block text %}
    {% set i = 0 %}
    {% for post in posts %}
        <div class="well">
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">{{ post.name }}</h4>
                    <p class="text-right">{{ post.author }}</p>
                    <p>{{ post.text }}</p>
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i> {{ post.date|date("d.m.Y") }}</span></li>
                        <li>|</li>
                        <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                        <li>|</li>
                        <li>
                            {{ form_start(editForm[i]) }}
                            {{ form_widget(editForm[i].name, { 'attr': { 'value': post.id } }) }}
                            {{ form_widget(editForm[i]) }}
                            {{ form_end(editForm[i]) }}
                            {#<a href = {{ path('edit_post') }}/{{ post.id }}>Edit</a>#}
                        </li>
                        <li>|</li>
                        <li>
                            {{ form_start(removeForm[i]) }}
                            {{ form_widget(removeForm[i].name, { 'attr': { 'value': post.id } }) }}
                            {{ form_widget(removeForm[i]) }}
                            {{ form_end(removeForm[i]) }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% set i = i + 1 %}
    {% endfor %}
{% endblock %}
{% block category %}
    <div class="span1 offset2 panel-info">
        <h3 class="text-center">Categories</h3>
        {% for category in categories %}
            <p class="text-center">{{ category.name }}</p>
        {% endfor %}
    </div>
{% endblock %}
